openapi: 3.2.0
info:
  version: '4.0'
  title: FlyerKit Stores API
  description: An API to access Flipp's publication data for use in your applications.
servers:
- url: https://api.flipp.com/flyerkit/v4.0
tags:
- name: Stores
paths:
  /stores/{merchant_identifier}:
    get:
      summary: Returns closest stores to a postal/zip code
      description: Returns a list of the five closest stores to the specified postal/zip code.
      tags:
      - Stores
      parameters:
      - name: merchant_identifier
        in: path
        description: Your merchant name identifier which can be obtained from your Flipp technical contact.
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        description: Contact your Flipp technical contact for your API access token.
        required: true
        schema:
          type: string
      - name: postal_code
        in: query
        description: Postal/zip code of user.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Stores response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/store'
        '422':
          description: Missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      operationId: getStoresByMerchantIdentifier
      x-operation-id-source: derived
components:
  schemas:
    store:
      properties:
        id:
          type: integer
          description: The store's Flipp ID
          example: 3057
        address:
          type:
          - string
          - 'null'
          description: The store's address
          example: 6220 Menard Drive
        city:
          type:
          - string
          - 'null'
          description: The store's city
          example: Casper
        latitude:
          type:
          - string
          - 'null'
          description: The store's latitude
          example: '42.843126'
        longitude:
          type:
          - string
          - 'null'
          description: The store's longitude
          example: '-106.276372'
        merchant_store_code:
          type: string
          description: The store's code defined by the merchant
          example: '3243'
        name:
          type:
          - string
          - 'null'
          description: The store's name
          example: CASPER
        phone_number:
          type:
          - string
          - 'null'
          description: The store's phone number
          example: '9056230110'
        postal_code:
          type:
          - string
          - 'null'
          description: The store's postal/zip code
          example: '82609'
        province:
          type:
          - string
          - 'null'
          description: The store's province or state
          example: WY
        sat_close:
          type:
          - string
          - 'null'
          description: The store's Saturday closing hour
          example: '18:00'
        sat_open:
          type:
          - string
          - 'null'
          description: The store's Saturday opening hour
          example: '8:00'
        sun_close:
          type:
          - string
          - 'null'
          description: The store's Sunday closing hour
          example: '18:00'
        sun_open:
          type:
          - string
          - 'null'
          description: The store's Sunday opening hour
          example: '10:00'
        mon_close:
          type:
          - string
          - 'null'
          description: The store's Monday closing hour
          example: '21:00'
        mon_open:
          type:
          - string
          - 'null'
          description: The store's Monday opening hour
          example: '8:00'
        tue_close:
          type:
          - string
          - 'null'
          description: The store's Tuesday closing hour
          example: '21:00'
        tue_open:
          type:
          - string
          - 'null'
          description: The store's Tuesday opening hour
          example: '8:00'
        wed_close:
          type:
          - string
          - 'null'
          description: The store's Wednesday closing hour
          example: '21:00'
        wed_open:
          type:
          - string
          - 'null'
          description: The store's Wednesday opening hour
          example: '8:00'
        thu_close:
          type:
          - string
          - 'null'
          description: The store's Thursday closing hour
          example: '21:00'
        thu_open:
          type:
          - string
          - 'null'
          description: The store's Thursday opening hour
          example: '8:00'
        fri_close:
          type:
          - string
          - 'null'
          description: The store's Friday closing hour
          example: '21:00'
        fri_open:
          type:
          - string
          - 'null'
          description: The store's Friday opening hour
          example: '8:00'
        distance:
          type:
          - string
          - 'null'
          description: The store's distance from postal in miles(US) or kilometers(CA)
          example: 4mi
    error:
      properties:
        message:
          type: string
          description: The error message
          example: Invalid publication_id or access token
        code:
          type: string
          description: HTTP status code
          example: '422'
