openapi: 3.2.0
info:
  version: '4.0'
  title: FlyerKit Fsa API
  description: An API to access Flipp's publication data for use in your applications.
servers:
- url: https://api.flipp.com/flyerkit/v4.0
tags:
- name: fsa
paths:
  /fsa/{merchant_name_identifier}:
    get:
      summary: Find geo locate fsa by merchant and ip
      description: Returns normalized geo locate fsa for a given merchant and optionally ip. Geo locate fsa is selected by country.
      tags:
      - fsa
      parameters:
      - name: merchant_name_identifier
        in: path
        description: Your merchant name identifier which can be obtained from your Flipp technical contact.
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        description: Contact your Flipp technical contact for your API access token.
        required: true
        schema:
          type: string
      - name: ip_override
        in: query
        description: Optional parameter to override request remote IP.
        schema:
          type: string
      responses:
        '200':
          description: Geo locate fsa response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fsa'
        '422':
          description: Missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      operationId: getFsaByMerchantNameIdentifier
      x-operation-id-source: derived
components:
  schemas:
    error:
      properties:
        message:
          type: string
          description: The error message
          example: Invalid publication_id or access token
        code:
          type: string
          description: HTTP status code
          example: '422'
    fsa:
      properties:
        geo_locate_fsa:
          type: string
          description: Geo locate fsa for the merchant by ip
          example: H3A
